/* Main.module.css */

.container {
  padding: 20px;
  padding-top: 314px;
  margin-left: 140px;
}

.title {
  font-size: 60px;
  margin-bottom: 105px;
  opacity: 0.9;
}

.button {
  display: block;
  background-color: #7a0000;
  color: white;
  padding: 25px 50px;
  font-size: 33px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.videos {
  display: flex;
  flex-wrap: wrap;
  gap: 77px;
}
