/* VideoPage.module.css */

.container {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.video {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
